.promo-catalog {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  width: calc(100%);
  overflow: hidden;

  @media (max-width: 768px) {
    width: calc(100% - 30px);
  }
}
