.sales {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 100px;

  @media (max-width: 1300px) {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  .title__container {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1300px) {
      padding-left: 0;
      gap: 10px;
    }
  }

  .mySwiper {
    height: calc(50vh + 80px);
    width: 100%;
    margin-top: 50px;

    .swiper-slide-active {
      opacity: 1 !important;
      transform: scale(1) !important;
      cursor: default !important;
    }

    .swiper-wrapper {
      @media (max-width: 1700px) {
        margin-left: 0%;
      }
    }

    .swiper-slide:nth-child(1) {
      background-image: url("/images/whous.webp");
    }

    .swiper-slide:nth-child(2) {
      background-image: url("/images/whous2.webp");
    }

    .swiper-slide:nth-child(3) {
      background-image: url("/images/whous3.webp");
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
      width: 20% !important;
      color: white;
      opacity: 0.8;
      transition: 0.3s ease;
      transform: scale(0.9);
      border-radius: 15px;
      cursor: pointer;

      @media (max-width: 1300px) {
        width: 100% !important;
      }

      .slide-fon {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 25px;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.425);
        padding: 30px;
        overflow: hidden; // Добавлено для скрытия выступающих элементов

        // Линия времени на слайде
        .slide-progress-container {
          position: absolute;
          top: 0px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 2px 2px 0 0; // Скругление только верхних углов
          overflow: hidden; // Важно для скругления прогресс-бара

          .slide-progress-bar {
            height: 100%;
            background: linear-gradient(90deg, #c6ab7a, #a78e61);
            border-radius: 2px 0 0 0; // Скругление только левого верхнего угла
            transition: width 0.1s linear;
          }
        }

        .slide-content {
          margin-top: 10px;

          strong {
            font-size: 20px;
            font-weight: 800;
          }

          p {
            font-size: 16px;
            line-height: 1.4;
            margin-top: 15px;
          }
        }

        a {
          border: 1px solid black;
          align-self: flex-end;
          padding: 8px 20px;
          border-radius: 30px;
          margin: 10px 0;
          font-size: 14px;
          transition: 0.3s ease;
          pointer-events: none;
        }

        a:hover {
          background-color: black;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 45px;
      height: 45px;
      border-radius: 40px;
      background-color: #ffffff;
      border: none;
      top: calc(50%);

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 3%;
      background: url("/services/arrowLeft.svg") no-repeat center;
      background-color: #ffffff;

      @media (max-width: 1300px) {
        left: 1%;
      }
    }

    .swiper-button-next {
      right: 3%;
      background: url("/services/arrowRight.svg") no-repeat center;
      background-color: #ffffff;

      @media (max-width: 1600px) {
        right: 9%;
      }

      @media (max-width: 1400px) {
        right: 8%;
      }

      @media (max-width: 1300px) {
        right: 1%;
      }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 18px;
    }
  }
}

@media (max-width: 600px) {
  .sales {
    .mySwiper {
      padding-left: 8%;
      padding-right: 8%;
      height: calc(65vh + 80px);
      width: 100%;
      padding-bottom: 80px;
    }
  }
}

@media (max-width: 992px) {
  .sales {
    h2 {
      font-size: 26px;
      text-align: center;
      padding-bottom: 30px;
    }

    .mySwiper {
      .swiper-button-next {
        right: 1%;
      }

      .swiper-button-prev {
        left: 1%;
      }
    }

    .link-more {
      margin-right: 5%;
      margin-top: 30px;
    }
  }
}
