@import "@/styles/variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 колонок для равномерного распределения */
  grid-template-rows: auto auto;
  gap: 1rem;
  margin-top: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.grid .image__card:nth-child(1),
.grid .image__card:nth-child(2) {
  grid-column: span 3;
}

/* Нижние 3 элемента занимают по 2 колонки каждый */
.grid .image__card:nth-child(3),
.grid .image__card:nth-child(4),
.grid .image__card:nth-child(5) {
  grid-column: span 2;
}

.image__card {
  // aspect-ratio: 1.7/1;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2.5rem;
  position: relative;
  text-transform: uppercase;

  @media (max-width: 1650px) {
    padding: 1.5rem;
  }

  @media (max-width: 1024px) {
    padding: 1rem;
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  // Создаем контейнер для изображения
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: transform 1.5s ease-out;
    transform: scale(1);
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, .6) 0%,
      rgba(0, 0, 0, .7) 50%,
      rgba(0, 0, 0, .6) 100%
    );
    z-index: 1;
    transition: opacity 0.5s ease;
  }

  &:hover {
    &::before {
      transform: scale(1.1);

    }

    &::after {
      opacity: 0.8;
    }
  }
  .imageContent {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .imageCardTitle {
      h3 {
        margin: 10px;
        font-size: 32px;
        font-family: $font-condensed;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 3px;
        @media (max-width: 1550px) {
          font-size: 25px;
        }
        @media (max-width: 1280px) {
          font-size: 22px;
        }
        @media (max-width: 768px) {
          font-size: 24px;
        }
        @media (max-width: 480px) {
          font-size: 20px;
        }
      }
      p {
        font-family: $font-condensed;
        font-size: 24px;
        font-weight: 500;
        @media (max-width: 1550px) {
          font-size: 20px;
        }
        @media (max-width: 1280px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
        @media (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
    ul {
      list-style: none; /* маркер внутри блока li */
      padding-left: 0; /* убираем отступ слева */
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      text-align: left;
    }
    li {
      font-family: $font-condensed;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      @media (max-width: 1550px) {
          font-size: 18px;
        }
        @media (max-width: 1280px) {
          font-size: 16px;
        }
        @media (max-width: 768px) {
          font-size: 18px;
        }
        @media (max-width: 480px) {
          font-size: 16px;
          gap: 5px;
        }
    }
    li::before {
      content: "•";
      flex-shrink: 0; /* маркер не сжимается */
    }
    span {
      font-family: $font-condensed;
      font-weight: 600;
      font-size: 28px;
        @media (max-width: 1550px) {
          font-size: 21px;
        }
        @media (max-width: 1280px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
        @media (max-width: 480px) {
          font-size: 16px;
        }
    }
  }
  button {
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.13);
    border: none;
    cursor: pointer;
    border-radius: $border-radius;
    width: 100%;
    font-size: 1rem;
    transition: all 0.3s ease;
    transform: translateY(0);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      backdrop-filter: blur(15px);
      border-radius: 33px;
    }

    @media (max-width: 1024px) {
      padding: 0.6rem 0.8rem;
    }

    p {
      font-size: 24px;
      font-family: $font-regular;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &:hover {
      background-color: #6a666194;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
